<!-- Animal Types Modal -->
{% from "results/macros.html" import render_animal_filter_button_list %}
<div
  class="modal fade custom-modal"
  id="animalTypesModal"
  tabindex="-1"
  aria-labelledby="animalTypesModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="animalTypesModalLabel">
          Set Custom Animal Preference Filters
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        {{ render_animal_filter_button_list() }}
      </div>
    </div>
  </div>
</div>
