{% extends "base.html" %} {% block content %} {% block results %}
<div class="container">
  <div class="row text-center">
    <div class="col">
      <div id="parent-results-container">
        {# ANIMAL RESULTS PAGINATION NAV#}
        <div class="nav-scroller bg-body shadow-sm">
          <nav class="nav" aria-label="Secondary navigation">
            <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
            <a class="nav-link" href="#">
              <span class="badge rounded-pill bg-danger text-bg-light rounded-pill align-text-bottom">Matching Animal Results{{animals | length if animals else 0}}<span class="visually-hidden">Number Of Animal Results Found</span></span>
            </a
            {% if results %}
            render_pagination(current_page=session.CURRENT_DISCOVER_ANIMALS_PAGE)
    
            {% endif %}
          </nav>
        </div>


        {% if hidden_form %}
          {% include 'hiddenForm.html' with hidden_form=hidden_form %}
          {% include url_for('static', filename="geolocation.js") %}
        {% endif %}

        <div
          id="animal-results-cards-container"
          class="row row-cols-1 row-cols-md-3 g-4"
        >
          
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %} {% endblock %}
