<nav id="main-navbar" class="navbar navbar-expand-md">
  <div class="container-fluid">
    <div class="navbar-header ml-4">
      <a href="/" class="navbar-brand">
        <img
          id="navbar-brand-logo-img"
          class="d-inline-block align-top"
          src="../static/favicon.ico"
          alt="logo"
        />Far Fetched
      </a>
    </div>

    <!-- Toggle button for mobile view -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav navbar-nav">

        {% if not session["ANIMAL_TYPES"] %}
        <li class="nav-item">
          <a class="btn btn-link" href=url_for("")></a>
        </li>
        {% else %}
        <li class="nav-item d-flex align-items-center"> <!-- Use flex for text alignment -->
          <div>
            🔍 Results:
            {% for type in session["ANIMAL_TYPES"] %}
            <a class='btn btn-link nav-link mx-1' href="{{ url_for('animal_preferences', animal_type=type) }}">
              {{ animal_emojis[type] }}
            </a>
            {% endfor %}
          </div>
        </li>
        <li class="nav-item">
          <a class="btn nav-link text-dark" href={{ url_for('form_user_location') }}>
            Location: {{ session['STATE_COUNTRY'] if 'STATE_COUNTRY' in session else session["CURR_LOCATION"] if "CURR_LOCATION" in session else "Location Not Set" }}📍</a>
        </li>
        {% endif %}

        <div class="vr my-5"></div>

        <!-- First Dropdown -->
        <li class="nav-item dropdown">
          <button
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Discover
          </button>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="dropdown-header"><h6>Result Types</h6></li>
            <li><a class="dropdown-item" href="{{ url_for('discover_animals') }}">Nearby Animals</a></li>
            <li><a class="dropdown-item" href="{{ url_for('discover_orgs')}}">Nearby Rescue Orgs</a></li>
            <li><a class="dropdown-item" href="{{ url_for('show_user_favorites', fav_type="all") }}">Favorites</a></li>
          </ul>
        </li>

        <!-- Second Dropdown -->
        <li class="nav-item dropdown">
          <button
            class="nav-link dropdown-toggle"
            id="preferencesDropdown"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Preferences
          </button>
          <ul class="dropdown-menu" aria-labelledby="preferencesDropdown">
            <li class="dropdown-header"><h6>Search Filters</h6></li>
            <li><a class="dropdown-item" href="{{ url_for('form_user_location') }}">
              Location Filter
              <span class="badge rounded-pill text-bg-primary">             
                {{ session['STATE_COUNTRY'] if 'STATE_COUNTRY' in session else 'ON, CA📍' }}
              </span></a></li>
            <li><a class="dropdown-item" href="{{ url_for('user_travel_preferences') }}">
              Distance Filter
              <span class="badge rounded-pill text-bg-primary">             
                {{ session['DISTANCE_PREF'] if 'DISTANCE_PREF' in session else '100' }} mi
              </span></a></li>

            <div class="dropdown-divider"></div>
            <li class="dropdown-header"><h6>Animal Filters</h6></li>
            {% for animal_type in animal_types %}
              <li><a class="dropdown-item" href="{{ url_for('animal_preferences', animal_type=animal_type) }}">
                {{ animal_emojis[animal_type] }} {{ animal_type|replace('-', ' ')|title }} Preferences
              </a></li>
            {% endfor %}
          </ul>
        </li>

      </ul> <!-- End of nav items -->
    </div> <!-- End of collapse -->

    <!-- User Authentication Links -->
    <ul class="nav navbar-nav ms-auto d-none d-sm-flex">
      {% if not user_auth_status %}
      <li><a href="/signup">Sign up</a></li>
      <li><a href="/login">Log in</a></li>
      {% else %}
      <li><a class="btn btn-link" href="/users/{{ CURR_USER.id }}">
        <span><img id="user_profile_img" src="{{ CURR_USER.image_url }}" alt="{{ CURR_USER.username }}" />{{ CURR_USER.username }}</span>
      </a></li>
      <li><a href="/logout">Log out</a></li>
      {% endif %}
    </ul>

   </div> <!-- End of container -->
</nav>