{% extends 'base.html' %} {% block content %}
<div class="row">
  {% if favorites %}
  <div class="col-lg-6 col-md-8 col-sm-12">
    <ul class="list-group" id="favorites">
      {% for fav in favorites %}
      <li class="list-group-item">
        <a href="/favorites/{{ fav.id  }}" class="message-link" />
        <a href="/users/{{ fav.user_id }}">
          <img src="{{ fav.user.image_url }}" alt="" class="timeline-image" />
        </a>
        <div class="message-area">
          <a href="/users/{{ fav.user_id }}">@{{ fav.user.username }}</a>
          <span class="text-muted"
            >{{ fav.timestamp.strftime('%d %B %Y') }}</span
          >
          <p>{{ fav.text }}</p>
        </div>
        <form
          method="POST"
          action="/users/add_like/{{ fav.id }}"
          id="favorites-form"
        >
          <button
            class="
                btn 
                btn-sm 
                {{'btn-primary' if fav.id in likes else 'btn-secondary'}}"
          >
            <i class="fa fa-thumbs-up"></i>
          </button>
        </form>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

</div>
{% endblock %}
