/* ====================== General */

body {
  background-color: #e6ecf0;
}

body.error-404 {
  background-color: #1da1f2;
}

.form-control {
  margin-bottom: 20px;
}

.btn {
  border-radius: 50px;
}

.btn:hover {
  cursor: pointer;
}

/* ======================= Nav */

#main-navbar {
  margin-bottom: 60px;
  position: sticky;
  top: 0;
}

.navbar {
  background-color: #fff;
  height: 80px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  margin-bottom: 60px;
  position: relative;
  z-index: 9999;
}

.navbar a {
  color: #f4ab0e;
  font-size: 13px;
  font-weight: bold;
  transition: color 0.3s ease, background-color 0.3s ease; /* Smooth transition */
}

.navbar a:hover {
  color: #f4ab0e; /* Change text color on hover */
}

/* Hover effect for all navbar items */
.navbar-nav li:hover > a,
.navbar-nav li > .dropdown-toggle:hover {
  background-color: rgba(28, 148, 224, 0.1); /* Light background on hover */
}

/* Specific styles for dropdown items */
.dropdown-menu .dropdown-item:hover {
  background-color: rgba(
    28,
    148,
    224,
    0.2
  ); /* Darker background for dropdown items */
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand > img {
  display: inline-block;
  margin-bottom: 2px;
  margin-right: 5px;
  width: 20px;
  border-radius: 2px;
}

.nav > li > a > span > img,
img#user_profile_img {
  width: 32px;
  border-radius: 32px;
}

ul.nav.navbar-nav {
  align-items: center;
}

ul.nav.navbar-nav li {
  margin: 0 0.25rem;
  display: flex;
}

nav form.navbar-form {
  display: flex;
  position: relative;
}

#search.form-control {
  border-radius: 20px;
  margin-bottom: 0;
  width: 100%;
  font-size: 13px;
  padding-right: 28px;
  box-sizing: border-box;
}

nav + .container {
  margin-bottom: 1rem;
}

#search.form-control + .btn {
  position: absolute;
  right: 9px;
  top: 2px;
}

#search.form-control + .btn:active,
#search.form-control + .btn:focus {
  box-shadow: none;
}

#search:active,
#search:focus {
  box-shadow: none;
  border: 2px solid #007bff; /* Change border color on focus */
}

@media (max-width: 468px) {
  nav form.navbar-form {
    display: none; /* Hide search form on small screens */
  }
}

/* ===================== User profile */

.join-message {
  margin-top: 100px;
}

#profile-image,
#profile-avatar {
  border-radius: 100%;
  display: block;
  margin-left: -15px;
}

#profile-image {
  margin: 0 auto 15px;
  width: 100%;
}

#profile-avatar {
  width: 200px;
  height: 200px;
  border: 5px solid #fff;
  margin-top: -120px;
  z-index: 1;
  position: relative;
  box-shadow: 0 1px 1px rgba(136, 153, 166, 0.15);
}

.timeline-image {
  border-radius: 48px;
  height: 48px;
  width: 48px;
  margin-top: 2px;
}

.message-area,
.timeline-image {
  display: inline-block;
}

.message-area {
  margin-left: 10px;
}

#profile-hero {
  height: 360px;
  margin-top: -16px;
  opacity: 0.7;
  background-size: cover;
  background-position: top center;
}

.full-width {
  width: 100vw;
  margin: 0 -50vw;
  position: relative;
  left: 50%;
  right: 50%;
}

.row.full-width {
  background-color: #fff;
  margin-top: -80px;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  height: 60px;
  align-items: center;
}

.user-stats > .ml-auto {
  display: flex;
  align-items: center;
}

.user-stats > .ml-auto .btn {
  min-width: 105px;
  padding: 6px 16px;
}

.stat {
  text-align: center;
  height: 60px;
  box-sizing: border-box;
  padding: 14px 15px 7px;
  line-height: 1;
}

.stat > .small {
  color: #657786;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.02em;
  margin-bottom: 0;
}

.stat > .small + h4 {
  font-size: 18px;
  font-weight: bold;
  padding-top: 3px;
}

#messages {
  position: relative;
}

#messages .message-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#messages .list-group-item a:not(.message-link) {
  position: relative;
  z-index: 2;
}

#messages .list-group-item {
  display: flex;
  align-items: flex-start;
  padding: 7px 20px 12px;
}

#messages:not(.no-hover) .list-group-item:hover {
  background-color: #e6ecf0;
}

#sidebar-username {
  margin-top: 30px;
  font-size: 21px;
  font-weight: bold;
  line-height: 28px;
  word-wrap: break-word;
}

/* @media (max-width: 768px) {
  .full-width .user-stats .stat {
    display: none;
  }
} */

.user-location {
  color: #657786;
}

/* ==================== User cards on follower/following pages */

.user-card {
  width: 100%;
  padding-bottom: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  position: relative;
  background: white;
  margin-top: 20px;
}

.user-card > div {
  position: absolute;
  background: white;
}

.user-card form {
  margin-top: 5px;
  margin-right: 5px;
}

.user-card form .btn {
  min-width: 89px;
  padding: 4px 12px;
  font-size: 12px;
}

.card-hero {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.card-image {
  border: 3px solid #fff;
  border-radius: 70px;
  height: 70px;
  width: 70px;
  margin-top: -35px;
  position: relative;
  z-index: 1;
}

.card-link {
  display: inline-block;
  margin-left: 10px;
}

.card-link > p {
  position: absolute;
}

.user-cards {
  margin-bottom: 20px;
}

.card-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.image-wrapper {
  width: 100%;
  padding-bottom: 36%;
  position: relative;
  overflow: hidden;
}

.card-contents {
  display: flex;
  justify-content: space-between;
}

p.card-bio {
  margin: 2em 10px 0;
}

/* ============================ Signed out home */

.home-hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100vw;
  left: 0;
  z-index: -1;
  background-image: url("static/images/animal-pictures/chris-anderson-coheb5v8c0M-unsplash.jpg");
  background-size: cover;
  background-position: center center;
  color: #fff;
  text-align: center;
  padding: 1rem;
  text-shadow: 0 0 8px #66757f;
}

.home-hero .btn {
  text-shadow: none;
  position: relative;
  z-index: 1;
  width: 150px;
}

.home-hero h1 {
  margin-bottom: 4rem;
}

.home-hero:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.3);
}

/* ============================== Signed in Home */

#home-aside > .user-card {
  margin-top: 0;
  overflow: hidden;
}

#home-aside > .user-card .card-link {
  display: flex;
}

#home-aside > .user-card .card-link > p {
  margin-left: 0.5rem;
  margin-top: 0.25rem;
}

#home-aside > .user-card .stat {
  padding: 14px 0 7px;
}

#home-aside > .user-card .user-stats {
  display: flex;
  justify-content: space-around;
}

#home-aside > .user-card > div {
  width: 100%;
}

#home-aside .card-link > p {
  position: relative;
}

#home-aside .stat h4 {
  text-align: left;
}

/* ========================== Signup/Login */

#user_form input.form-control {
  font-size: 18px;
  font-weight: bold;
  padding: 12px;
}

/* =========================== Edit Page */

.edit-btn-area {
  display: flex;
  justify-content: space-between;
}

.edit-btn-area > .btn {
  width: 48%;
}

/* =========================== Message Show page */

.bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: #62676c; */
}

#messages.no-hover .message-area {
  width: 100%;
}

#messages.no-hover .message-heading {
  display: flex;
  justify-content: space-between;
  height: 47px;
  margin-top: 3px;
}

#messages.no-hover .message-heading .btn {
  min-width: 105px;
}

#messages-form {
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 1;
}

.single-message {
  font-size: 27px;
  line-height: 32px;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
}

/* ================================ 404 page */

.message-404 {
  color: white;
  margin-top: 2em;
  text-align: center;
}

.message-404 a {
  color: white;
}

.message-404 > h4.display-4 {
  font-size: 2.5em;
}

.message-404 .form-inline input {
  flex: 1;
}

/* ================================ Loading Shimmer Effect */
@keyframes shimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.skeleton-card {
  background-color: #f6f7f8;
  border-radius: 4px;
  margin-bottom: 20px;
}

.skeleton-img {
  height: 200px;
  background-color: #ddd;
}

.skeleton-title {
  height: 20px;
  width: 80%;
  margin: 15px 0;
  background-color: #ddd;
}

.skeleton-text {
  height: 100px;
  margin-bottom: 15px;
  background-color: #ddd;
}

.skeleton-badges {
  display: flex;
  gap: 10px;
}

.skeleton-badge {
  height: 20px;
  width: 60px;
  background-color: #ddd;
  border-radius: 20px;
}

.shimmer {
  background: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  background-size: 800px 104px;
  animation: shimmer 1.5s infinite linear;
}

/* ================================ Hidden Forms */

form.hidden {
  display: none;
}

/* ================================ Animal Cards */
/* ================================ Animal Modal */

.custom-modal .modal-dialog {
  /* padding-top to modal to ensure it doesn't obscure the flash messages container 
  Adjust this value as needed */
  margin-top: 60px;
}

/* ================================ Custom Background Cards @ Home Pages */

.hoverable-animal-type-cards {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.4s ease;
  transform-style: preserve-3d;
  perspective: 1000px;
  cursor: pointer;
}

.hoverable-animal-cards:hover {
  border: 5px solid #f4ab0e;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
/* ================================ Animal Input Cards*/

/* commented out as .hoverable-animal-type-cards covers this  */
/* .animal-type-card {
  transition: all 0.1s ease;
  cursor: pointer;
} */
.animal-input-card.dimmed {
  opacity: 0.6;
}
.animal-input-card.selected {
  box-shadow: 0 0 0 3px #f4ab0e !important;
  opacity: 1;
}
input[type="checkbox"]:checked + .animal-type-card {
  box-shadow: 0 0 0 3px #f4ab0e !important;
  opacity: 1;
}