{% extends "base.html" %} {% block content %} {% block results %}
<div class="container">
  <div class="row text-center">
    <div class="col">
      <div id="parent-results-container">
        <div id="animal-results-error-container" class="container">
          <span class="text-danger"><!--PUT ERRORS HERE--></span>
        </div>

        <div
          id="animal-results-cards-container"
          class="row row-cols-1 row-cols-md-3 g-4"
        >
          <form
            id="hidden_form"
            class="hidden
            method="POST"
            action="{{ url_for('animal_data') }}"
          >
            {{form.hidden_tag()}}
            {% for field in form %}
                {% if field.widget.input_type == 'hidden' %}
                    {% for error in field.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                    {{ field(placeholder=field.label.text, class="form-control") }}
                {% endif %}
            {% endfor %}
          </form>
        </div>
        <!-- Include geolocation.js -->

        <!-- Include renderAnimalCards.js -->
        <script src="{{ url_for('static', filename='renderAnimalCards.js') }}"></script>

        <script>
          // Call this function to log the URL details
          logCurrentUrlDetails();
          // Render skeleton cards on page load
          renderCards([],9)
          // Fetch animals data from API and render cards
          fetchDataAndRender(window.location.origin + "/data/animals");

        </script>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% endblock %}
