<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Far Fetched</title>

  <link rel="stylesheet"
        href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/popper.js"></script>
  <script src="https://unpkg.com/bootstrap"></script>

  <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <link rel="stylesheet" href="/static/stylesheets/style.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  
</head>

<body class="{% block body_class %}{% endblock %}">
<nav class="navbar navbar-expand">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">
        <!--
          <img src="../static/images/ff-logo.svg" alt="logo">
        --> 
        <img class="d-inline-block align-top" src="../static/favicon.ico" alt="logo">Far Fetched
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      
      {% if session['CURR_LOCATION'] %}
        <li class="nav-item"><a href="{{ url_for('set_global') }}">{{ session['CURR_LOCATION'] }}📍</a></li>
      {% else %}
        <li class="nav-item"><a href="{{ url_for('set_global') }}"> ON, CA📍</a></li>
      {% endif %}
      <div class='vr'></div> <!-- vertical divider div -->
      {% if g.animal_types %} 
        {% for type in g.animal_types %}
          <li class="nav-item"><a href="{{ url_for('set_global') }}">
            {% if type == 'dog' %}🐶{% elif type == 'cat' %}🐱{% elif type == 'small-furry' %}🐹{% elif type == 'birds' %}🐦{% elif type == 'horse' %}🐴{% elif type == 'scales-fins-other' %}🦎{% elif type == 'barnyard' %}🐮{% endif %}
          </a></li>
        {% endfor %}
      {% else %}
        <li class="nav-item"><a href="{{ url_for('set_global') }}">🐶</a></li>
      {% endif %}
      <div class='vr'></div> <!-- vertical divider div -->

      {% if request.endpoint %}
      <li>
        <form class="navbar-form navbar-right" action="/users">
          <input name="q" class="form-control" placeholder="Fetch some animals!" id="search">
          <button class="btn btn-default">
            <span class="fa fa-search"></span>
          </button>
        </form>
      </li>
      {% endif %}
      {% if not g.user %}
      <li><a href={{url_for("routes.auth.signup")}}>Sign up</a></li>
      <li><a href={{url_for("routes.auth.login")}}>Log in</a></li>
      {% else %}
      <li>
        <a href="/users/{{ g.user.id }}">
          <img src="{{ g.user.image_url }}" alt="{{ g.user.username }}">
        </a>
      </li>
      <!--<li><a href="/messages/new">New Message</a></li>-->
      <li><a href="/logout">Log out</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
<div class="container">
  {% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}
  <div class="row">
    {% block content %}
    {% endblock %}
  </div>
  <div class="row">
    {% block results %}
    {% endblock %}
  </div>

</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!--script to update UI--> <script src='../static/home-ui.js'></script> 
</body>
</html>
