{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="home-hero">
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-md-8 text-center">
            <h1>Interested in getting involved with animal rescue?</h1>
            <p>Find your local animal rescues!</p>
            <p>Want to save your results? Learn more about animal rescue?</p>
            <a href="/signup" class="btn btn-primary">Sign up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="row">
    {% block results %}
    {% endblock %}
  </div>-->

</div>

</div> <!-- End of the container -->

{% endblock %}
