{% extends 'base.html' %} {% block body_class %}onboarding{% endblock %} {%
block content %}

<div class="row justify-content-md-center">
  <div class="col-md-7 col-lg-5">
    <h3 class="content-message">
      {{ form_title if form_title else "Narrow Down your Search"}}
    </h3>
    <hr />
    <form
      method="POST"
      id="{{form.__name__}}"
      action="{{ url_for(request.endpoint) }}"
    >
      {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
      'hidden' %} {% if field.widget.input_type == 'select' %}
      <div class="form-group">
        {{ field.label(class="form-label") }}
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          {% for value, label in field.choices %}
          <label class="btn btn-outline-primary">
            <input
              type="checkbox"
              name="{{ field.name }}"
              value="{{ value }}"
            />{{ label }}
          </label>
          {% endfor %}
        </div>
        {% for error in field.errors %}
        <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      </div>
      {% elif field.type == 'BooleanField' %}
      <div class="form-group">
        <div class="form-check form-switch">
          {{ field(class="form-check-input") }} {{
          field.label(class="form-check-label") }}
        </div>
        {% for error in field.errors %}
        <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      </div>
      {% elif field.type == 'IntegerRangeField' %}
      <div class="form-group">
        {{ field.label(class="form-label") }}
        <label for="{{ field.name }}-input">
          {% if field.name == 'distance_filter_preference' %}Within{% endif %}
          <span id="{{ field.name }}-value"
            >{{ field.default if field.default else 0 }}</span
          >
          {% if field.name == 'distance_filter_preference' %}Miles{% endif %}
        </label>
        <div class="form-range">
          {{ field(class="form-range-input", id=field.name + "-input") }}
        </div>
        {% for error in field.errors %}
        <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      </div>
      <script>
        document
          .getElementById("{{ field.name }}-input")
          .addEventListener("input", function () {
            document.getElementById("{{ field.name }}-value").innerText =
              this.value;
          });
      </script>
      {% else %}
      <div class="form-group">
        {{ field.label(class="form-label") }} {{ field(class="form-control") }}
        {% for error in field.errors %}
        <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      </div>
      {% endif %} {% endfor %}
      <hr />
      <a
        class="btn btn-primary btn-lg btn-block"
        href="{{ next if next else '/' }}"
      >
        {% if next %}Continue{% else %}Submit{% endif %}
      </a>
    </form>
  </div>
</div>

{% endblock %} {% block scripts %} {{ super() }}
<!-- Include scripts from parent template if any -->

{% for script in page_scripts %}
<script src="{{ script }}"></script>
{% endfor %} {% endblock %}
