{% extends 'base.html' %}

{% block body_class %}onboarding{% endblock %}

{% block content %}

  <div class="row justify-content-md-center">
  <div class="col-md-10 col-lg-5">
    <h2 class="join-message">Join Far Fetched today!</h2>
    <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" method="POST" id="user_form">
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {{ field.label(class="form-control-label") | format_kebob_case }}
        {{ field(placeholder=field.label.text, class="form-control") }}
      {% endfor %}

      <button class="btn btn-primary btn-lg btn-block">Sign me up!</button>
      <hr class="my-4">
      <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small>

    </form>
  </div>
</div>

{% endblock %}